/******************************************
*  Author : quantumRaven23   
*  Created On : Fri Jan 15 2021
*  File : sign-in.styles.scss
*******************************************/
.sign-in{
    width:390px;
    display: flex ;
    flex-direction: column;

    .title{
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}



