/******************************************
*  Author : quantumRaven23   
*  Created On : Fri Jan 15 2021
*  File : sign-in.styles.scss
*******************************************/
.sign-in{
    width:30vw;
    display: flex ;
    flex-direction: column;

    .title{
        margin: 10px 0;
    }
}



